<!DOCTYPE html>
<html lang="fr" data-theme="retro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.5/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Tous les appartements</title>
</head>
<body>
    {% include "_header.html" %}


    <div class="container">
    
        {% for appartement in appartements %}
        <div class="card card-side bg-base-100 shadow-xl border mt-4">
            <figure class="p-2"><img style="width: 150px; height: 150px;"
                    src="https://img.daisyui.com/images/stock/photo-1625726411847-8cbb60cc71e6.jpg" alt="Movie"
                    class="object-cover rounded" /></figure>
            <div class="card-body">
                <h2 class="card-title">{{ appartement.etage }} {{ appartement.numero }}</h2>
                
                <div class="card-actions">
                    <a href="/appartements/{{ appartement.identifiant }}" class="btn btn-primary btn-block">Voir</a>
                </div>
            </div>
        </div>
        {% endfor %}
    
        <a href="/appartements/nouveau" class="btn btn-primary btn-block">Ajouter un appartement</a>
    
    </div>
</body>
</html>