<!DOCTYPE html>
<html lang="fr" data-theme="retro">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.5/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>ImmoLux</title>
</head>

<body>
    {% include '_header.html' %}

    {% if user %}
    <div class="container mx-auto px-4 py-12">
        <h1 class="text-4xl font-bold text-center">Que souhaitez-vous faire ?</h1>
        <div class="divider font-bold my-8">Actions</div>
        <div class="join-vertical mt-4">
            <a href="/immeubles" class="btn btn-neutral btn-block my-2">Voir mes immeubles</a>
            <a href="/syndicats" class="btn btn-accent btn-block my-2">Voir mes syndicats liés</a>
        </div>
        <div class="divider font-bold my-8"></div>
    </div>
    {% else %}
    <div class="container mx-auto px-4 py-12">

    </div>

    {% endif %}

    {% include '_footer.html' %}

</body>

</html>